fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
bcrypt
python-dotenv
pydantic[email]
python-multipart
apscheduler
requests-oauthlib
google-auth
google-auth-oauthlib
google-api-python-client
groq
pdfplumber
python-docx
websockets
